### Default ###

*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild


### Extension ###

*.apk
*.ap_
*.dex
hs_err_pid*
.idea/misc.xml
.idea/modules.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
